# Firebase Configuration
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_FIRESTORE_DATABASE_ID=

# AdSense Configuration
VITE_ADSENSE_CLIENT_ID=ca-pub-7939466441674446

# AdMob Configuration (Note: AdMob is primarily for mobile apps. For web, consider Google AdSense)
VITE_ADMOB_APP_ID=ca-app-pub-7939466441674446~6171269327
VITE_ADMOB_UNIT_ID=ca-app-pub-7939466441674446/2275555649
